# Advanced AI
https://github.com/RamaKattunga/AdvAIClass.git

In [8]:
import pandas as pd
import numpy as np
import yfinance as yf

In [9]:
# --- Section 1: Loading Data from Online Sources ---
# Load the Titanic dataset from a GitHub URL, a popular dataset for learning
url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
df_titanic = pd.read_csv(url)
print("Step 1a: Titanic dataset loaded with", df_titanic.shape[0], "passengers and", df_titanic.shape[1], "columns.")

Step 1a: Titanic dataset loaded with 891 passengers and 12 columns.

In [10]:
# Fetch Apple stock data from 2020 to 2023 using yfinance for time series practice
df_stock = yf.download('AAPL', start='2020-01-01', end='2023-01-01', progress=False)
print("Step 1b: Apple stock data loaded with", df_stock.shape[0], "days and", df_stock.shape[1], "columns.")

Step 1b: Apple stock data loaded with 756 days and 5 columns.

C:\Users\khaai\AppData\Local\Temp\ipykernel_19732\2628451526.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df_stock = yf.download('AAPL', start='2020-01-01', end='2023-01-01', progress=False)

In [11]:
# --- Section 2: Data Inspection ---
# Display the first 5 rows of the Titanic dataset to understand its structure
pd.set_option('display.width', 1000)
print("\nStep 2a: First 5 rows of Titanic dataset:")
print(df_titanic.head())

Step 2a: First 5 rows of Titanic dataset:
   PassengerId  Survived  Pclass                                               Name     Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
0            1         0       3                            Braund, Mr. Owen Harris    male  22.0      1      0         A/5 21171   7.2500   NaN        S
1            2         1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1      0          PC 17599  71.2833   C85        C
2            3         1       3                             Heikkinen, Miss. Laina  female  26.0      0      0  STON/O2. 3101282   7.9250   NaN        S
3            4         1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1      0            113803  53.1000  C123        S
4            5         0       3                           Allen, Mr. William Henry    male  35.0      0      0            373450   8.0500   NaN        S

In [12]:
# Show DataFrame info (column names, data types, non-null counts)
print("\nStep 2b: Titanic DataFrame Info:")
print(df_titanic.info())

Step 2b: Titanic DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [13]:
# Display summary statistics for numerical columns (count, mean, std, etc.)
print("\nStep 2c: Titanic Summary Statistics:")
print(df_titanic.describe())

Step 2c: Titanic Summary Statistics:
       PassengerId    Survived      Pclass         Age       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000    6.000000  512.329200